body {
    font: 15px Arial;
}

#app {
    border: 1px solid #d1d5da;
    border-radius: 3px;
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
}

#app header {
    background: #f6f8fa;
    border-bottom: 1px solid #d1d5da;
    font-weight: bold;
    padding: 9px 12px;
}

#app header #date {
    float: right;
    text-transform: uppercase;
}

#app #cmd {
    background: #fafbfc;
    border-bottom: 1px solid #d1d5da;
    padding: 12px;
}

#app #cmd input {
    background: transparent;
    border-width: 0;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;
}

#app main > ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#app main > ol > li {
    border-bottom: 1px solid #d1d5da;
    padding: 12px 12px 9px;
}

#app main > ol > li:last-child {
    border-bottom: none;
}